body {
    padding: 0;
    margin: 0;
    color: #222222;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    background-color: #FF4400;
    height: 70px;
}

header > .site-title {
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 4px #424242;
    line-height: 40px;
    vertical-align: middle;
    font-size: 28pt;
    
    width: 743px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
header > .site-title > .site-subtitle {
    font-size: 12pt;
    line-height: normal;
    font-weight: 500;
}

.global-site {
    position: relative;
    background: #EFEFEF url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
    overflow-y: auto;
}

.main-container {
    position: relative;
    display: table;
    width: 743px;
    min-height: 300px;
    padding: 20px;
    height: fit-content;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px -2px  #424242;
}

/* Fiches / mini-fiches */
.mini-fiche {
    position: relative;
    display: block;
    width: calc(25% - 10px);
    height: 260px;
    background-color: #efefef;
    box-shadow: 0 0 8px -2px #1f1f1f;
    margin: 5px;
    float: left;
    transition: box-shadow 250ms ease-in-out 100ms;
}
.mini-fiche, .mini-fiche:visited {
    text-decoration: none;
    color: #222222;
}
.mini-fiche:hover {
    box-shadow: 0 0 16px -2px #1f1f1f;
    width: calc(25% - 8px);
    height: 262px;
    margin: 4px;
    transition: box-shadow 100ms ease-in-out 0ms;
}
.mini-fiche > .picture {
    padding: 0;
    margin: 10px;
    height: 140px;
    width: calc(100% - 20px);
}
.mini-fiche > div[class*='pok-'] {
    margin-left: 10px;
    margin-right: 10px;
}
.mini-fiche > .pok-num {
    color: gray;
    font-style: italic;
    margin-top: -10px;
    font-size: smaller;
    text-align: right;
}
.mini-fiche > .pok-name {
    font-size: 1.3em;
    font-weight: 700;
    max-height: 56px;
    overflow-y: auto;
}
.mini-fiche > .pok-abilities {
    position: absolute;
    bottom: 6px;
}
.mini-fiche > .pok-abilities > .pok-ability {
    display: inline-block;
    margin-right: 4px;
    margin-left: 0;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px -1px #222222;
    font-size: small;
    line-height: 13px;
    vertical-align: middle;
}

.eau {
    background-color: blue;
}
.nourriture {
    background-color: orangered;
}
.electrique {
    background-color: yellow;
}
.fleur {
    background-color: violet;
}
.plante {
    background-color: green;
}
.vol {
    background-color: darkcyan;
}
.psy {
	background-color: lightsteelblue;
}
.feu {
	background-color: crimson;
}
.vol, .nourriture, .plante, .eau, .feu {
    color: #efefef;
}

.count {
	position: relative;
	clear: left;
	padding-top: 20px;
	line-height: 20px;
}

/* FICHE */
.sub-title {
	line-height: 26px;
	vertical-align: middle;
	margin-top: 15px;
}

.big-picture {
	width: calc(50% - 40px);
	height: 300px;
    margin-right: 10px;
	padding: 0;
	border: solid 10px #efeaea;
	border-radius: 3px;
	box-shadow: 0 3px 8px -2px #222222; 
	position: relative;
	float: left;
}
.big-picture > .picture-sign {
	color: #fff;
    font-weight: 900;
    text-shadow: 0 0 4px #424242;
    line-height: 14px;
    vertical-align: middle;
    font-size: 12pt;
	transform: rotate(270deg);
	display: inline-block;
	
	opacity: 0.2;
	position: absolute;
	right: -35px;
	bottom: 50px;
}
.big-picture, .picture {
	background-color: silver;
	background-position: center center;
	background-size: cover;
}

.description {
	float: left;
	font-size: 1.2em;
	width: calc(50% - 20px);
}

.fiche-details {
	float: left;
	border-radius: 10px 4px;
	background-color: #FF4400;
	padding: 10px 20px;
	margin: 30px calc(25% / 2);
	width: calc(25% - 30px);
	
	color: #222222;
}
.fiche-details .label {
	width: calc(100% - 40px);
	font-weight: 500;
}
.fiche-details .value {
	color: #efefef;
	font-weight: 700;
	margin-bottom: 10px;
	text-shadow: 0 0 2px #222222;
	margin-top: 2px;
}
.fiche-details .value.gender {
	margin-top: 6px;
	text-shadow:
		2px 0 0 #efefef,
		0 2px 0 #efefef,
		-2px 0 0 #efefef,
		0 -2px 0 #efefef,
		1px 1px 0 #efefef,
		-1px -1px 0 #efefef,
		1px -1px 0 #efefef,
		-1px 1px 0 #efefef,
		0 0 8px #222222;
}
.gender .male {
	color: #5588FF;
	transform: rotate(10deg);
}
.gender .female {
	color: magenta;
	transform: rotate(-5deg);
}
.gender > * {
	margin-right: 10px;
}

.navigation {
	font-size: 1.2em;
}
.navigation > .link,
.navigation > .link:visited {
	text-decoration: none;
	color: inherit;
	font-weight: 700;
	text-shadow: 0 0 0 #424242;
	transition: all 250ms ease-in-out 500ms;
}
.navigation > .link:hover {
	color: #5588FF;
	transition-delay: 0ms;
	transition-duration: 0ms;
	text-shadow: 0 0 2px #808080;
}


/* FOOTER */
footer {
    display: table;
    width: 743px;
    padding: 20px;
    margin: 0 auto;
    min-height: 100px;
    background-color: #1f1f1f;
}
footer > .container {
    width: 743px;
    padding: 20px;
}
footer h2 {
    color: whitesmoke;
    text-shadow: 0 0 6px #111111;
    font-size: 20px;
}
footer, 
footer a,
footer a:visited {
    color: lightslategray;    
    text-decoration: none;
}
footer ul > li > a {
    display: inline-block;
    width: 100%;
    font-weight: 600;
}
footer ul > li {
    padding: 2px 4px 2px 6px;
    transition: all 250ms ease-in-out 200ms;
}
footer ul > li:hover {
    background-color: purple;
    border-radius: 10px 4px;
    transition-delay: 0ms;
    transition-duration: 100ms;
} 
footer > .left {
    width: calc(50% - 20px);
}
footer > .left,
footer > .right {
    float: left;
    position: relative;
    padding: 10px;
    height: 170px;
}
footer > .right {
    font-size: smaller;
    border-left: 2px solid lightslategray;
    width: calc(50% - 30px);
}

@media only screen and (max-width: 768px) {
	body {
		height: 100%;
	}
	
	header {
		background-color: #DD5500;
		height: 50px;
	}
	
	header > .site-title {
		line-height: 30px;
		vertical-align: middle;
		font-size: 20pt;
		width: auto;
		padding-left: 10px;
		padding-right: 0;
	}
	header > .site-title > .site-subtitle {
		font-size: 8pt;
		line-height: normal;
		font-weight: 500;
	}

	.global-site {
		background: #efefef;
	}

	.main-container {
		width: 100%;
		padding: 0;
		box-shadow: none;
	}

	/* Fiches / mini-fiches */
	.mini-fiche {
		width: calc(50% - 10px);
	}
	.mini-fiche:hover {
		width: calc(50% - 8px);
	}
	.mini-fiche > .picture {
		width: calc(100% - 20px);
	}

	footer {
		display: table;
		width: 100%;
		padding: 0;
	}
	footer > .container {
		width: 100%;
		padding: 0;
	}
	footer h2 {
		font-size: 16px;
	}
	footer ul > li {
		padding: 2px 4px 2px 6px;
		transition: all 250ms ease-in-out 200ms;
	}
	footer > .left {
		width: calc(100% - 20px);
	}
	footer > .left,
	footer > .right {
		height: auto;
	}
	footer > .right {
		border-left: none;
		border-top: 2px solid lightslategray;
		width: calc(100% - 20px);
	}
}

.danger, .danger:hover {
	color: crimson !important;
}
